<section id="clients" class="section-light">
  <h1 class="title smallMarginBottom">Our Clients</h1>
  <p class="text-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry's standard dummy text ever since the 1500s</p>

  <div class="tabs">
    <div class="adaptive-wrap">
      <!-- WRAP!!! -->
      <ul class="tabsHeader act0">
        <li class="tabsBtn tabActive" data-tab="0"><img src="img/logo-google.png" alt="google"></li>
        <li class="tabsBtn" data-tab="1"><img src="img/logo-booking.png" alt="booking"></li>
        <li class="tabsBtn" data-tab="2"><img src="img/logo-dropbox.png" alt="dropbox"></li>
        <li class="tabsBtn" data-tab="3"><img src="img/logo-facebook.png" alt="facebook"></li>
        <li class="tabsBtn" data-tab="4"><img src="img/logo-groupon.png" alt="groupon"></li>
        <li class="tabsBtn" data-tab="5"><img src="img/logo-paypal.png" alt="paypal"></li>
      </ul>
    </div><!-- /WRAP!!! -->
    <div class="tabsBody">
      <div class="tabsContent active">
        <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer
          took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries</p>
        <span>Lawrence Edward "Larry" Page, </span> <a href="#" class="tabsContent-link">Google.com</a>
      </div>
      <div class="tabsContent">
        <p class="tabsContent-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo vel culpa
          impedit, id commodi recusandae cum modi eum, nostrum delectus, fugiat maxime voluptatibus nam corporis labore
          perferendis eaque placeat eos aliquid reiciendis illo tempore quibusdam. Reprehenderit neque temporibus
          voluptatem asperiores, corporis sint repudiandae quos accusantium, rerum quod maxime assumenda.</p>
        <span>Geert-Jan Bruinsma, </span><a href="#" class="tabsContent-link">Booking.com</a>
      </div>
      <div class="tabsContent">
        <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer
          took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries</p>
        <span>Arash Ferdowsi, </span><a href="#" class="tabsContent-link">Dropbox.com</a>
      </div>
      <div class="tabsContent">
        <p class="tabsContent-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo vel culpa
          impedit, id commodi recusandae cum modi eum, nostrum delectus, fugiat maxime voluptatibus nam corporis labore
          perferendis eaque placeat eos aliquid reiciendis illo tempore quibusdam. Reprehenderit neque temporibus
          voluptatem asperiores, corporis sint repudiandae quos accusantium, rerum quod maxime assumenda.</p>
        <span>Mark Zuckerberg, </span><a href="#" class="tabsContent-link">Facebook.com</a>
      </div>
      <div class="tabsContent">
        <p class="tabsContent-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo vel culpa
          impedit, id commodi recusandae cum modi eum, nostrum delectus, fugiat maxime voluptatibus nam corporis labore
          perferendis eaque placeat eos aliquid reiciendis illo tempore quibusdam. Reprehenderit neque temporibus
          voluptatem asperiores, corporis sint repudiandae quos accusantium, rerum quod maxime assumenda.</p>
        <span>Andrew D. Mason, </span><a href="#" class="tabsContent-link">Groupon.com</a>
      </div>
      <div class="tabsContent">
        <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer
          took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          centuries</p>
        <span>Dan Schulman, </span><a href="#" class="tabsContent-link">Paypal.com</a>
      </div>
    </div>
    <span class="prev"><img src="img/arrow-prev.png" alt="prev"></span>
    <span class="next"><img src="img/arrow-next.png" alt="next"></span>
  </div>
</section>
