<section id="contacts" class="arrow-section">
  <h1 class="title title-light smallMarginBottom">Contact us</h1>
  <p class="text-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry's standard dummy text ever since the 1500s</p>
  <div class="contacts-items">
    <a href="#" class="item">
      <span class="icon-img"></span>
      <span class="name">Customer Care</span>
      <span class="tel">(+00) 123456789</span>
    </a>
    <a  href="#" class="item">
      <span class="icon-img"></span>
      <span class="name">E-Mail</span>
      <span class="tel">Hello@Arrowagency.com</span>
    </a>
    <a href="#" class="item">
      <span class="icon-img"></span>
      <span class="name">Twitter</span>
      <span class="tel">@ArrowAgency</span>
    </a>
    <a href="#" class="item">
      <span class="icon-img"></span>
      <span class="name">Faebook</span>
      <span class="tel">ArrowAgency</span>
    </a>
  </div>
  
</section>
