<div id="wrap-header">
  <a href="#home" id="logo" data-target="anchor"><img src="img/logo-Arrow.png" alt="logo"></a>

  <nav>
    <ul class="navbar">
      <li><a href="#services" data-target="anchor">Services</a></li>
      <li><a href="#portfolio" data-target="anchor">Portfolio</a></li>
      <li><a href="#team" data-target="anchor">Team</a></li>
      <li><a href="#offices" data-target="anchor">Offices</a></li>
      <li><a href="#clients" data-target="anchor">Clients</a></li>
      <li><a href="#contacts" data-target="anchor">Contact</a></li>
    </ul>
  </nav>

  <div class="toggle">
    <a href="#" class="menu-btn"><span></span></a>
  </div>

</div>
