<section id="portfolio" class="arrow-section">
  <h1 class="title title-light">Our Portfolio</h1>

  <div class="wrap-portfolio">

    <div class="portfolio-item item-1">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

    <div class="portfolio-item item-2">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

    <div class="portfolio-item item-3">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

    <div class="portfolio-item item-4">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

    <div class="portfolio-item item-5">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

    <div class="portfolio-item item-6">
      <div class="layer">
        <span class="item-title">iPhone App UI Design</span>
        <a href="#" class="plus-btn"></a>
      </div>
    </div>

  </div>

</section>
