<section id="services" class="section-light">

  <h1 class="title">Our services</h1>

  <div class="wrap-serv">
    <div class="service-item">
      <img src="img/idea-100.png " alt="Idea service" class="service-icon">
      <h3>Idea</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</p>
    </div>
    <div class="service-item">
      <img src="img/design-100.png " alt="Design service" class="service-icon">
      <h3>Design</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</p>
    </div>
    <div class="service-item">
      <img src="img/code-100.png " alt="Code service" class="service-icon">
      <h3>Code</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s</p>
    </div>
  </div>
</section>
