<div class="tabs">
  <ul class="tabsHeader">
    <li class="tabsBtn tabActive" data-tab="0"><img src="img/logo-google.png"></li>
    <li class="tabsBtn" data-tab="1"><img src="img/logo-booking.png"></li>
    <li class="tabsBtn" data-tab="2"><img src="img/logo-dropbox.png"></li>
    <li class="tabsBtn" data-tab="3"><img src="img/logo-facebook.png"></li>
    <li class="tabsBtn" data-tab="4"><img src="img/logo-groupon.png"></li>
    <li class="tabsBtn" data-tab="5"><img src="img/logo-paypal.png"></li>
  </ul>
  <div class="tabsBody">
    <div class="tabsContent active">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Lawrence Edward "Larry" Page,</span> <a href="#" class="tabsContent-link">Google.com</a>
    </div>
    <div class="tabsContent">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Geert-Jan Bruinsma, </span><a href="#">Booking.com</a>
    </div>
    <div class="tabsContent">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Arash Ferdowsi, </span><a href="#">Dropbox.com</a>
    </div>
    <div class="tabsContent">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Mark Zuckerberg, </span><a href="#">Facebook.com</a>
    </div>
    <div class="tabsContent">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Andrew D. Mason, </span><a href="#">Groupon.com</a>
    </div>
    <div class="tabsContent">
      <p class="tabsContent-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries</p>
      <span>Dan Schulman, </span><a href="#">Paypal.com</a>
    </div>
  </div>
  <span class="prev"><img src="img/arrow-prev.png" alt=""></span>
  <span class="next"><img src="img/arrow-next.png" alt=""></span>
</div>
