<section id="team" class="section-light">

  <h1 class="title smallMarginBottom">Our Team</h1>
  <p class="text-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever since the 1500s</p>

  <div class="employes">

    <div class="employe-info">
      <div class="employe">
        <img src="img/team-1.jpg" alt="Ahmed Yehia Kadry" class="employe-photo">
        <div class="layer-hover">
          <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        </div>
      </div>
      <span class="name">Ahmed Yehia Kadry</span>
      <span class="position">Developer</span>
    </div>

    <div class="employe-info">
      <div class="employe">
        <img src="img/team-2.jpg" alt="Ahmed Yehia Kotub" class="employe-photo">
        <div class="layer-hover">
          <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        </div>
      </div>
      <span class="name">Ahmed Yehia Kotub</span>
      <span class="position">Developer</span>
    </div>

    <div class="employe-info">
      <div class="employe">
        <img src="img/team-3.jpg" alt="Farouk Hosni" class="employe-photo">
        <div class="layer-hover">
          <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        </div>
      </div>
      <span class="name">Farouk Hosni</span>
      <span class="position">Developer</span>
    </div>

    <div class="employe-info">
      <div class="employe">
        <img src="img/team-4.jpg" alt="Wahid Magdy" class="employe-photo">
        <div class="layer-hover">
          <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
        </div>
      </div>
      <span class="name">Wahid Magdy</span>
      <span class="position">Developer</span>
    </div>

  </div>
</section>
